<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>CRUD NodeJs mysql</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">CRUD NodeJs MySQL</a>
    </nav>
